@property --surface-page-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --text-on-page-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklab(0 0 0);
}
@property --border-dec-on-page-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --border-int-on-page-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --surface-workspace-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --text-on-workspace-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklab(0 0 0);
}
@property --border-dec-on-workspace-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --border-int-on-workspace-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --surface-card-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --text-on-card-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklab(0 0 0);
}
@property --border-dec-on-card-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --border-int-on-card-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --surface-card-hover-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --surface-card-active-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --surface-action-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --text-on-action-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklab(0 0 0);
}
@property --border-dec-on-action-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --border-int-on-action-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --surface-action-hover-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --surface-action-active-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --surface-tinted-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --text-on-tinted-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklab(0 0 0);
}
@property --border-dec-on-tinted-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --border-int-on-tinted-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --surface-soft-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --text-on-soft-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklab(0 0 0);
}
@property --border-dec-on-soft-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --border-int-on-soft-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --surface-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(1 0 0);
}
@property --text-on-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklab(0 0 0);
}
@property --border-dec-on-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}
@property --border-int-on-spotlight-token {
  syntax: "<color>";
  inherits: true;
  initial-value: oklch(0 0 0 / 0);
}

/* AUTO-GENERATED by scripts/solver-engine.ts */
:root {
  --surface-page-token: light-dark(
    oklch(1 0 5),
    oklch(0.1 0 0.14)
  );
  --text-on-page-token: light-dark(
    oklab(0 0.4586 0.54),
    oklab(1 0.893 0.8406)
  );
  --border-dec-on-page-token: light-dark(
    oklch(0.1935 0 0 / 0.0799),
    oklch(0.9866 0 0 / 0.3254)
  );
  --border-int-on-page-token: light-dark(
    oklch(0.1935 0 0 / 0.2093),
    oklch(0.9866 0 0 / 0.5235)
  );

  --surface-workspace-token: light-dark(
    oklch(0.9806 0 4.9944),
    oklch(0.2541 0 0.8044)
  );
  --text-on-workspace-token: light-dark(
    oklab(0 0.4184 0.5085),
    oklab(1 0.9052 0.8561)
  );
  --border-dec-on-workspace-token: light-dark(
    oklch(0 0 0 / 0.0676),
    oklch(0.9985 0 0 / 0.2157)
  );
  --border-int-on-workspace-token: light-dark(
    oklch(0 0 0 / 0.1778),
    oklch(0.9985 0 0 / 0.444)
  );

  --surface-card-token: light-dark(
    oklch(0.9776 0 4.9926),
    oklch(0.1 0 0.14)
  );
  --text-on-card-token: light-dark(
    oklab(0 0.4147 0.5015),
    oklab(1 0.893 0.8406)
  );
  --border-dec-on-card-token: light-dark(
    oklch(0 0 0 / 0.0679),
    oklch(0.9866 0 0 / 0.3254)
  );
  --border-int-on-card-token: light-dark(
    oklch(0 0 0 / 0.1785),
    oklch(0.9866 0 0 / 0.5235)
  );
  --surface-card-hover-token: light-dark(
    oklch(0.9536 0 4.9687),
    oklch(0.3072 0 1.1257)
  );
  --surface-card-active-token: light-dark(
    oklch(0.9265 0 4.9229),
    oklch(0.3734 0 1.5708)
  );

  --surface-action-token: light-dark(
    oklch(1 0 5),
    oklch(0.1 0 0.14)
  );
  --text-on-action-token: light-dark(
    oklab(0 0.4586 0.54),
    oklab(1 0.893 0.8406)
  );
  --border-dec-on-action-token: light-dark(
    oklch(0.1935 0 0 / 0.0799),
    oklch(0.9866 0 0 / 0.3254)
  );
  --border-int-on-action-token: light-dark(
    oklch(0.1935 0 0 / 0.2093),
    oklch(0.9866 0 0 / 0.5235)
  );
  --surface-action-hover-token: light-dark(
    oklch(0.9746 0 4.9905),
    oklch(0.3072 0 1.1257)
  );
  --surface-action-active-token: light-dark(
    oklch(0.9506 0 4.9646),
    oklch(0.3734 0 1.5708)
  );

  --surface-tinted-token: light-dark(
    oklch(0.9 0 4.86),
    oklch(0.4 0 1.76)
  );
  --text-on-tinted-token: light-dark(
    oklab(0 0.2156 0.3696),
    oklab(1 0.9536 0.9052)
  );
  --border-dec-on-tinted-token: light-dark(
    oklch(0 0 0 / 0.0729),
    oklch(1 0 0 / 0.175)
  );
  --border-int-on-tinted-token: light-dark(
    oklch(0 0 0 / 0.2032),
    oklch(1 0 0 / 0.4195)
  );

  --surface-soft-spotlight-token: light-dark(
    oklch(0.1 0 0.14),
    oklch(0.9 0 4.86)
  );
  --text-on-soft-spotlight-token: light-dark(
    oklab(1 0.893 0.8406),
    oklab(0 0.2156 0.3696)
  );
  --border-dec-on-soft-spotlight-token: light-dark(
    oklch(0.9866 0 0 / 0.3254),
    oklch(0 0 0 / 0.0729)
  );
  --border-int-on-soft-spotlight-token: light-dark(
    oklch(0.9866 0 0 / 0.5235),
    oklch(0 0 0 / 0.2032)
  );

  --surface-spotlight-token: light-dark(
    oklch(0.1 0 0.14),
    oklch(0.9 0 4.86)
  );
  --text-on-spotlight-token: light-dark(
    oklab(1 0.893 0.8406),
    oklab(0 0.2156 0.3696)
  );
  --border-dec-on-spotlight-token: light-dark(
    oklch(0.9866 0 0 / 0.3254),
    oklch(0 0 0 / 0.0729)
  );
  --border-int-on-spotlight-token: light-dark(
    oklch(0.9866 0 0 / 0.5235),
    oklch(0 0 0 / 0.2032)
  );

}

/* Animate all tokens when color-scheme changes */
:root {
  transition: --surface-page-token 0.2s ease-in-out,
    --text-on-page-token 0.2s ease-in-out,
    --border-dec-on-page-token 0.2s ease-in-out,
    --border-int-on-page-token 0.2s ease-in-out,
    --surface-workspace-token 0.2s ease-in-out,
    --text-on-workspace-token 0.2s ease-in-out,
    --border-dec-on-workspace-token 0.2s ease-in-out,
    --border-int-on-workspace-token 0.2s ease-in-out,
    --surface-card-token 0.2s ease-in-out,
    --text-on-card-token 0.2s ease-in-out,
    --border-dec-on-card-token 0.2s ease-in-out,
    --border-int-on-card-token 0.2s ease-in-out,
    --surface-card-hover-token 0.2s ease-in-out,
    --surface-card-active-token 0.2s ease-in-out,
    --surface-action-token 0.2s ease-in-out,
    --text-on-action-token 0.2s ease-in-out,
    --border-dec-on-action-token 0.2s ease-in-out,
    --border-int-on-action-token 0.2s ease-in-out,
    --surface-action-hover-token 0.2s ease-in-out,
    --surface-action-active-token 0.2s ease-in-out,
    --surface-tinted-token 0.2s ease-in-out,
    --text-on-tinted-token 0.2s ease-in-out,
    --border-dec-on-tinted-token 0.2s ease-in-out,
    --border-int-on-tinted-token 0.2s ease-in-out,
    --surface-soft-spotlight-token 0.2s ease-in-out,
    --text-on-soft-spotlight-token 0.2s ease-in-out,
    --border-dec-on-soft-spotlight-token 0.2s ease-in-out,
    --border-int-on-soft-spotlight-token 0.2s ease-in-out,
    --surface-spotlight-token 0.2s ease-in-out,
    --text-on-spotlight-token 0.2s ease-in-out,
    --border-dec-on-spotlight-token 0.2s ease-in-out,
    --border-int-on-spotlight-token 0.2s ease-in-out;
}